body {
  font-family: "Cormorant", serif;
}

h1 {
  display: inline-block;
  font-weight: 300;
  margin: 0 32px 0 0;
}

.links {
  display: inline-block;
}

.links li {
  display: inline-block;
}

.links a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin: 0 9px;
}
.navbar {
  margin: 32px;
}
.links ul {
  padding: 0;
}

a.active {
  border-bottom: 1px solid black;
}
.cart img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}
.cart {
  width: 49.75%;
  display: inline-block;
  box-sizing: border-box;
  padding: 16px;
}

.cart h2 {
  display: inline-block;
  margin: 5px 0 0 0;
  font-weight: 300;
}

.gallery {
  padding: 16px;
}

.about h3 {
  font-size: 40px;
  font-weight: 300;
}

.about {
  width: 40%;
  margin: 100px 0 100px 200px;
}

.contact {
  margin-top: 100px;
}

.contact p {
  margin: 0;
  font-size: 20px;
}
.cta {
  border-bottom: 1px solid red;
  display: inline-block;
  padding: 5px;
}

.cart img:hover {
  opacity: 0.9;
}
